/* Global Rules*/
body {
  font-family: sans-serif;
  min-height: 100vh;
  overflow: hidden;
  margin: 0%;
  padding: 0%;
}

/* Class Based CSS Rules*/
.consolemsg {
  position: absolute;
  margin-left: 5px;
  left: -5px;
  width: 30%;
  height: 20px;
  margin-top: 70vh;
  font-size: 14px;
  user-select: none;
  color: white;
  background: rgba(20, 20, 20, 0.6);
  z-index: 49; /* Below Neon Debug, Above Display */
} /* Used with Console (engine/core/console.js) */

.yellow {
  color: yellow;
}

.red {
  color: red;
}

/* ID Based CSS Rules*/
#neondebug {
  display: block;
  background: rgba(20, 20, 20, 0.5);
  user-select: none;
  color: white;
  position: absolute;
  margin: 5px;
  padding: 5px;
  top: -5px;
  left: -5px;
  width: 120px;
  height: 60px;
  font-family: monospace;
  font-size: 14px;
  z-index: 99;
}

#loadcontrols {
  display: block;
  background: rgba(20, 20, 20, 0.5);
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

#primary {
  position: absolute;
  z-index: 2;
}

#offscreen {
  position: absolute;
  z-index: -1;
}